<page-title></page-title>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-3">
        <movie-list></movie-list>
      </div>
  
      <div class="col-3">
        <fav-photos></fav-photos>
      </div>
  
      <div class="col-3">
        <chores-list></chores-list>
      </div>
    </div>
  </div>
  <hr>
  <fav-links></fav-links>
  <iframe src="https://giphy.com/embed/l3vRg13bg9FdLYK8E" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/abstract-processing-coding-l3vRg13bg9FdLYK8E">via GIPHY</a></p>